.forgot-container {
  width: 300px;
  margin: 100px auto;
  background-color: #f9f9f9;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forgot-container h2 {
  margin-bottom: 20px;
}

.forgot-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.forgot-container button {
  width: 100%;
  padding: 10px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.forgot-container button:hover {
  background-color: #005fcc;
}
